:host {
    --input-width: 100%;
    --input-height: 100%;
    --input-background: transparent;
    --input-color: #99a1af;
    --input-font-size: 14px;
    --input-font-weight: 400;
    --input-border: none;
    --input-radius: 12px;
    display: inline-block;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.input-box__container{
    margin: 10px;
}

.label, input{
    display: block;
    font-size: var(--input-font-size, 14px);
}

.label{
    color: var(--input-color, #99a1af);
    margin-bottom: 7px;
    font-weight: 500;
}

.input__container{
    box-sizing: border-box;
    height: 50px;
    position: relative;
    padding: 10px 5px;
    border-radius: var(--input-radius, 12px);
    border: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
}

::slotted([slot="input-icon"]){
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
}
::slotted([slot="message"]){
    font-size: 12px;
    color: var(--input-color, #99a1af);
}

input{
    padding-left: 35px;
    padding-right: 10px;
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
}

.input__container:has(input:focus){
    border: 1px solid #000000;
    outline: 4px solid;
    outline-color: color-mix(in oklab ,#3b82f6 50%, transparent);
    transition: outline .2s;
}