:host {
    --button-width: 100%;
    --button-height: 100%;
    --button-background: transparent;
    --button-color: inherit;
    --button-font-size: 16px;
    --button-font-weight: 400;
    --button-border: none;
    --button-radius: 8px;
    --button-justify: center;
    --button-padding: 0px;
    display: inline-block;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.button{
    width: var(--button-width, 100%);
    height: var(--button-height, 100%);
    background: var(--button-background, transparent);
    color: var(--button-color, inherit);
    font-size: var(--button-font-size, 16px);
    font-weight: var(--button-font-weight, 400);
    border: var(--button-border, none);
    border-radius: var(--button-radius, 8px);
    outline: none;
    display: flex;
    justify-content: var(--button-justify, center);
    align-items: center;
    gap: 10px;
    padding: var(--button-padding, 0px);
}