:host {
    --summary-width: 100%;
    --summary-height: 100%;
    --summary-background: transparent;
    --summary-color: #99a1af;
    --summary-font-size: 14px;
    --summary-font-weight: 400;
    --summary-border: none;
    --summary-radius: 12px;
    display: inline-block;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.summary__container{
    border: 1px solid #e2e8f0; 
    min-width: 200px;
    height: 180px;
    padding: 15px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary__container:hover{
    box-shadow: 0px 5px 40px -12px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.15s;

}

.summary__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::slotted([slot="summary__heading"]){
    font-size: 14px;
    color: #4a5565;
}

::slotted([slot="summary__data"]){
    font-size: 24px;
    font-weight: 700;
    color: #1e2936;
}

::slotted([slot="summary__title"]){
    font-size: 12px;
    color: #4a5565;
}