<link rel="stylesheet" href="./login.css">

<section class="login__container">

    <div class="login__content">
        <input-box></input-box> 
    </div>

    <div class="login__button">
        <app-button class="login__button__toggle white">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-question-mark h-4 w-4" aria-hidden="true" slot="icon">
                <circle cx="12" cy="12" r="10"/>
                <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/>
            </svg>
            <p slot="label">Help?</p>
        </app-button>
        <app-button class="login__button__toggle yellow">
            <p slot="label">Next Step</p>
        </app-button>
    </div>
</section>




<script src="../../components/button/button.js"></script>
<script src="../../components/input-box/input-box.js"></script>