.body__container{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.background__container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.background__container::after{
    content: "";
    z-index: 2;
    position: absolute;
    inset: 0;
    background: url("../icons/background.svg") center/cover no-repeat;
    opacity: 0.3;
}

.glow{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid red;
  opacity: 0.2;
  filter: blur(24px);
  margin-top: 50px;
  margin-left: 50px;
  animation: glow 2s linear infinite;
  position: absolute;
}

.background__container .yellow{
    width: 64px;
    height: 64px;
    background: radial-gradient(circle, #e4a800 30%, #fcc800);
    top: 5%;
    right: 5%;
}

.background__container .purple{
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, #615fff 30%, #7c8cff);
    top: 30%;
    left: 3%;
}

.background__container .blue{
    width: 96px;
    height: 96px;
    background: radial-gradient(circle, #267fff 30%, #4fa2ff);
    bottom: 20%;
    left: 5%;
}



.ooo{
  width: 100px;
  height: 50px;
  margin-top: 100px;
  margin-left: 50px;
  background-color: hotpink;
  animation: bounce 1s infinite;
  /* transform: translateY(100px); */
}

.body__content{
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.content__card{
    width: 450px;
    border-radius: 16px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 10px 24px 10px;
}

.content__card__header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    margin: 20px 0;
}

.content__card__logo{
    display: flex;
    justify-content: center;
    position: relative;
}

.content__card__logo__container{
  width: 80px;
  height: 80px;
  border-radius: 16px;
  background: linear-gradient(to bottom right, #155dfc, #4f39f6);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__card__logo__container svg{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}


.content__card__logo__ball{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fcc800;
  border: 5px solid #FFFFFF;
  position: absolute;
  top: -9px;
  right: 155px;
}

.content__card__title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #101828;
}

.content__card__description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #4a5565;
}

.content__card__select{
    width: 100%;
    height: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
    /* margin: 50px 0; */
    border-top: 1px solid transparent;
    background: #f3f4f6;
    border-radius: 12px;
    display: flex;
    padding: 5px 7px 2px;
}

app-button.content__card__select__button{
    width: 50%;
    background: transparent;
    color: #1e293b;
    border-radius: 8px;
}

app-button.login{
    background: #FFFFFF;
    color: #1e293b;
    border-radius: 12px;
}

app-button:focus{
    outline: 4px solid;
    outline-color: color-mix(in oklab ,#3b82f6 50%, transparent);
    transition: outline .2s;
}

.content__card__userinput {
    margin: 20px 0;
}

@keyframes glow{
  0%{opacity: 0.4;}
  35%{opacity: 0.7;}
  100%{opacity: 0.4;}
}

@keyframes bounce{
  0%{transform: translateY(0);}
  100%{transform: translateY(-20px);}
}
